@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

:root {
    --font-family-sans-serif: 'Ubuntu', sans-serif;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}